<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-home"></span> Example
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ng-href="#main">Home</a></li>
        <li ui-sref-active="active"><a ng-href="#people">People</a></li>
        <li ui-sref-active="active"><a ng-href="#jobs">Jobs</a></li>
      </ul>


    </div>
  </div>
</nav>
