<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <h2 class="title text-center">Inicio</h2>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeInDown">
    <div class="page-header">
      <h4>Lista de personas</h4>
    </div>
    <div class="table-responsive">
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th width="5%">#</th>
						<th width="30%">FirstName</th>
						<th width="30%">LastName</th>
						<th width="10%">Age</th>
            <th width="10%">Active</th>
						<th width="10%">Student</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in listPeople track by $index">
						<th class="text-center">{{ p.id }}</th>
						<td>{{ p.firstName }}</td>
						<td>{{ p.lastName }}</td>
						<td class="text-center">{{ p.age }}</td>
            <td><div class="checkbox text-center"><label><input type="checkbox" ></label></div></td>
            <td><div class="checkbox text-center"><label><input type="checkbox" ></label></div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 animated fadeInDown">
    <div class="page-header">
      <h4>Lista de trabajos</h4>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th width="5%">#</th>
            <th width="40%">JobName</th>
            <th width="30%">JobSalary</th>
            <th width="10%">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in listJobs track by $index">
            <th class="text-center">{{ p.id }}</th>
            <td>{{ p.jobName }}</td>
            <td>{{ p.jobSalary }}</td>
            <td><div class="checkbox text-center"><label><input type="checkbox" ></label></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
