<div class="container">

  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <h2 class="title text-center">Manejo de Personas</h2>

	<div class="row mt80">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeInDown">
      <div class="page-header">
        <h4>Registro de personas</h4>
      </div>
			<div class="alert alert-danger text-center alert-failure-div" role="alert" style="display: none">
				<p></p>
			</div>
			<div class="alert alert-success text-center alert-success-div" role="alert" style="display: none">
				<p></p>
			</div>
			<form novalidate name="userForm" ng-submit="saveUser()" >
				<div class="form-group">
					<label for="FirstName">FirstName <span class="text-danger">*</span></label>
					<input type="text" class="form-control" ng-model="firstName" required>
				</div>
				<div class="form-group">
					<label for="LastName">LastName <span class="text-danger">*</span></label>
					<input type="text" class="form-control" ng-model="lastName" required>
				</div>
				<div class="form-group">
					<label for="company_name">Age <span class="text-danger">*</span></label>
					<input  type="number"  class="form-control" ng-model="age" required>
				</div>
				<div class="text-right">
					<button data-loading-text="Saving User..." type="submit" class="btn btn-success btn-save" ng-disabled="userForm.$invalid">Save</button>
				</div>
			</form>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 animated fadeInUp">
      <div class="page-header">
        <h4>Lista de personas</h4>
      </div>
      <div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="30%">FirstName</th>
							<th width="30%">LastName</th>
							<th width="10%">Age</th>
              <th width="10%">Active</th>
              <th width="10%">Student</th>
							<th width="10%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in listPeople track by $index">
							<th class="text-center">{{ p.id }}</th>
							<td>{{ p.firstName }}</td>
							<td>{{ p.lastName }}</td>
							<td class="text-center">{{ p.age }}</td>
              <td><div class="checkbox text-center"><label><input type="checkbox" ></label></div></td>
              <td><div class="checkbox text-center"><label><input type="checkbox" ></label></div></td>
              <td class="text-center"><span class="label label-danger action" ng-click="deleteUser(p.id)" >delete</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>



</div>
